/***** BASE STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;
      color: #7f7f7f;
}

#about, #portfolio, #contact {
    height: 600px;
}

/***** GRID *****/
.full-width {
    width: 1500px;
    margin: 0 auto;
}

.half-width {
    width: 750px;
    float: left;
}

.third-width {
    width: 500px;
    float: left;
}

/***** HEADER *****/
header {
    height: 800px;
    background: url('../img/cactus.jpg');
    background-size: cover;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #EF946C;
    padding: 65px 0 65px 25px;
    letter-spacing: 5px;
}

nav {
    float: right;
    padding: 75px 25px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 5px;
    color: #CEB0A7;
    padding: 20px 0 20px 25px;
}

header h2 span {
  color: #DFA28A;
}

/***** ABOUT *****/
#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    padding-left: 50px;
    letter-spacing: 5px;
}

#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

/***** PORTFOLIO *****/
#portfolio {
    background: #D6E1E8;
    text-align: center;
    height: 650px;
}

#portfolio .full-width {
    padding-bottom: 60px;
    padding-top: 60px;
}

#portfolio img {
    width: 450px;
    border: 2px solid #ffffff;
}

#portfolio h3 {
    font-size: 20px;
    line-height: 25px;
    width: 190px;
    margin: 0 auto;
    color: #EF946C;
    text-decoration: underline #7f7f7f;
}

#portfolio p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 0 45px;
}

/***** CONTACT *****/

#contact {
    background-color: #E8E8E8;
}

#contact .full-width {
    padding: 60px 0;
}

#contact img#contact-img {
    margin-left: 150px;
    border: 12px solid #ffffff;
    width: 450px;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul, p {
    padding-left: 115px;
}

#contact h2, #contact #socialmedia-header {
    font-family: 'Oswald', serif;
    color: #CEB0A7;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 5px;
}

#contact #email-header {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
    color: #DFA28A;
}

#contact #socialmedia-header {
    color: #7f7f7f;
}

#contact a {
    color: #EF946C;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 25px;
    width: 50px;
    margin-top: -20px;
}
